sudo: false
matrix:
  fast_finish: true
  include:
    - python: "3.6"
      env: TOXENV=pyhomematic
    - python: "3.6"
      env: TOXENV=lint
    - python: "3.7"
      env: TOXENV=lint
    - python: "3.8"
      env: TOXENV=lint
install: pip install -U tox
language: python
script: tox